<div data-w-id="417cd7da-3e29-9aa3-1365-ee8b75b4dc84" class="section footer-insta wf-section">
      <div class="container insta-container">
        <div class="insta-row row-1">
          <div class="insta-post-wrap">{%- image images.71ff77fc.url, images.71ff77fc.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.1d6c34d5.url, images.1d6c34d5.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.-7057d74b.url, images.-7057d74b.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.48174ebf.url, images.48174ebf.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.6368b7fd.url, images.6368b7fd.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
        </div>
        <div class="insta-row row-2">
          <div class="insta-post-wrap">{%- image images.71ff77fc.url, images.71ff77fc.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.71ff77fc.url, images.71ff77fc.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.32116ae5.url, images.32116ae5.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.d8d6800.url, images.d8d6800.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
          <div class="insta-post-wrap">{%- image images.-36bfd8e6.url, images.-36bfd8e6.alt, '[{"max":479,"size":"150px"},{"max":991,"size":"200px"},{"max":10000,"size":"400px"}]', 'class="insta-post-image"' -%}</div>
        </div>
      </div>
      <div class="insta-section-line">
        <a href="{{ links.636eb9b8 }}" target="_blank" class="social-wrap w-inline-block">{%- image images.-1a391644.url, images.-1a391644.alt, '[]', 'class="social-icon"' -%}
          <div>{{ texts.-c8e2839 }}</div>
        </a>
        <a href="{{ links.30f2eb3a }}" target="_blank" class="social-wrap left-social w-inline-block">{%- image images.2dcab44e.url, images.2dcab44e.alt, '[]', 'class="social-icon"' -%}
          <div>{{ texts.1e267725 }}</div>
        </a>
        <a href="{{ links.-13da2d81 }}" target="_blank" class="social-wrap left-social w-inline-block">{%- image images.-33baf741.url, images.-33baf741.alt, '[]', 'class="social-icon"' -%}
          <div>{{ texts.1ec0dcd6 }}</div>
        </a>
      </div>
    </div>