<div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="container nav-container">{%- image images.-2a485a80.url, images.-2a485a80.alt, '[{"max":479,"size":"95vw"},{"max":10000,"size":"268px"}]', 'loading="lazy" width="268"' -%}
        <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current"></a>
        <div class="nav-right-wrap">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="{{ links.2f }}" aria-current="page" class="nav-link w-nav-link w--current">{{ texts.2268ff }}</a>
            <a href="{{ links.55b8e8be }}" class="nav-link w-nav-link">{{ texts.3c2336d }}</a>
            <a href="{{ links.-31aec62 }}" class="nav-link w-nav-link">{{ texts.-37d0e971 }}</a>
            <a href="{{ links.-2d45265a }}" class="nav-link w-nav-link">{{ texts.239c3495 }}</a>
            <a href="{{ links.4b0e6111 }}" class="button small w-button">{{ texts.47d6ebb4 }}</a>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>